@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#the-universe {
  @apply min-h-screen;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
